---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AJ Ranzato">
  <section class="home">
    <h1>Alec Jacob "A.J." Ranzato</h1>

    <p class="subtitle">
      Architectural History • Historic Preservation • Urban Planning
    </p>

    <p class="home-education">
      Princeton 2016 • NYU 2026 • Hunter College (Expected 2029)
    </p>

    <p>
      I completed my master's in historical and sustainable architecture with a
      focus on spatial analysis, conservation policy, and historical research. I
      am building a career in urbanism and historical conservation in alignment
      with my background and passion for architectural history, sociology, as
      well as the physical and cultural networks that make up cities. My prior
      wealth of experience in digital marketing and education technology have
      made me an expert communicator, cross-functional collaborator, and
      stakeholder manager. My work is consistently data driven and I have a
      wealth of experience in content production including academic writing,
      historical research, heritage analysis, and client-facing presentations. I
      am excited to work in and be involved in my community and contribute to a
      culturally rich and sustainable future.
    </p>

    <div class="home-links">
      <a href="/resume">View Resume</a>
      <a href="/projects">Selected Work</a>
    </div>
    <p class="home-contact">
      <a href="mailto:ajranzato9@gmail.com">ajranzato9@gmail.com</a>

      <span>•</span>

      <a
        href="https://www.linkedin.com/in/alecjacobranzato/"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>

      <span>•</span>

      Brooklyn, NY
    </p>
  </section>
</Layout>
