---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AJ Ranzato">
  <h1>Alec Jacob "AJ" Ranzato</h1>

  <h2>Architectural Historian • Historic Preservation • Urban Planning</h2>

  <p>
    MA in Historical Architecture<br />
    Master of Urban Planning Candidate
  </p>

  <hr />

  <p>Welcome to my professional portfolio.</p>
</Layout>