---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Selected Work | AJ Ranzato">
  <h1>Selected Work</h1>

  <p>
    A selection of academic work demonstrating accomplishments in sociology,
    architectural history, historic preservation, and urban planning.
  </p>

  <section class="project-card">
    <h2>Undergraduate Thesis - Princeton University</h2>

    <p>
      <strong
        >I-Robot to We-Robot: Exploring the Effects of Team Structure on Team
        Dynamics, Decision Making, and Performance, When Working With a Remote
        Robot
      </strong>
    </p>

    <p>
      <!-- Replace with real description -->
      In this study I gave teams of five a team structure, condition or hierarchy,
      and tasked them with controlling a remote robot through an experimental space
      with the goal of maximizing exploration and exploitation. They were given 90
      minutes, and within that 90 minutes had a series of (max) 10-minute windows
      to send a series of commands to their robot in bulk consisting of movement and
      pictures, which were used to help in following planning sessions. Ultimately,
      three groups emerged, tightly coupled hierarchical and consensus ones, and loosely
      coupled versions of both. Loosely coupled teams proved to be best suited for
      the task as they could maintain brief social order centered around their robot
      teammate where their team structure provided little. They could then neutralize
      the advantages of their given structure and adopt the advantages of the other.

      <a
        href="public/files/AJ-Ranzatp-Undergraduate-Thesis-Princeton.pdf"
        download
      >
        Download PDF
      </a>
    </p>
  </section>
  <section class="project-card">
    <h2>Master's Thesis - NYU</h2>

    <p>
      <strong
        >Beyond Boundaries: Utilizing Space Syntax to Reconsider Conservation
        Area Appraisals and Policy in Suburban London</strong
      >
    </p>

    <p>
      <!-- Replace with real description -->
      This thesis examines the extent to which conservation area policy in Greater
      London describes the aspects of spatial morphology that underpin the urban vitality
      of the areas designated. Previous research has established that urban vitality
      depends on spatial complexity, and that the erosion of spatial complexity can
      have detrimental effects on existing urban vitality. Those who designate conservation
      areas, especially those encompassing town centers and high streets, therefore
      have an interest in conserving the network characteristics of space produced
      by morphological complexity that sustain urban dynamism. This thesis explores
      this by assessing the “spatial language” of the local plans and conservation
      areas of two suburban London town centers: South Norwood and Teddington. In
      the absence of more specific urban conservation frameworks in England, local
      plans and conservation area appraisals are the most appropriate vehicle for
      network-morphological conservation, given their recognition of the importance
      of heritage and their use of the National Planning Policy Framework’s definition
      of “setting, ” —a designation that is protected yet flexible enough to accommodate
      descriptions beyond viewpoints and vistas to which it has traditionally applied.
      This thesis uses space syntax to produce novel QGIS-based visualizations of
      segment angular analysis for choice and integration at multiple movement scales
      in the Teddington study area. These visualizations, which proxy spatial potential
      for urban activity, are mapped against the distribution of conservation areas
      around Teddington to assess alignment between area boundary logic and movement
      patterns sustaining urban activity. The results reveal weakness in the spatial
      descriptions found in conservation area appraisals. Rarely do appraisals account
      for movement dynamics, building-to-street relationships, built form to land
      use relationships, or connectivity. The placement and justification of area
      boundaries, when compared to maps of spatial potential, fail to account for
      the geographic scope of the networks within which they operate. This thesis
      argues that the Teddington, and other areas like it, face long-term risk of
      isolation and further fragmentation, and that current conservation area appraisals
      remain largely focused on aesthetic and experiential qualities of the built
      environment. This research adds to the limited number of studies combining heritage
      and space syntax methodology, and provides the basis for a framework to reassess
      conservation policy so that it operates in closer alignment with emerging global
      frameworks. These frameworks intend to unify urban planning, spatial research,
      and heritage study to prevent historic areas from dissolving physically, economically,
      or culturally as a result of being frozen in time.
    </p>

    <a
      href="/files/masters-thepublic/files/AJ-Ranzato-Masters-Thesis-NYU.pdfsis.pdf"
      download
    >
      Download PDF
    </a>
  </section>

  <section class="project-card">
    <h2>Adaptive Reuse Museum Project - NYU</h2>

    <p>
      <strong
        >Design Brief For “Renault History Foundation and Design Museum” at
        Pierre Dreyfus Building (Bâtiment X)</strong
      >
    </p>

    <p>
      <!-- Replace with real description -->
      The Pierre Dreyfus building is the last physical remnant of Renault’s industrial
      legacy in Paris, and the cultural memory of the many thousands of workers, and
      many thousands of hours of labor embedded in the land of Billancort and Île
      Seguin. Renault is one of the most recognizable automobile brands in the world,
      and a torch bearer for French ingenuity. This is a design brief for the proposed
      Renault History Foundation and Design Museum which will occupy the Pierre Dreyfus
      building, formerly known as “Bâtiment X, ” and be further housed in a new contemporary
      building sharing the same site. These buildings will work in tandem to create
      a narrative of history and progress, and provide exceptional space for the display
      of archival material, photography, machinery, and of course, cars.
    </p>

    <a
      href="/files/adapublic/files/AJ-Ranzato-Adaptive-Reuse-Museum-Project.pdf"
      download
    >
      Download PDF
    </a>
  </section>
</Layout>
