---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume | AJ Ranzato">
  <div class="resume">
    <header class="resume-header">
      <h1>Academic and Professional Experience</h1>

      <p class="resume-download">
        <a href="/files/AJ-UrbanResume-2026.pdf" download> Download PDF </a>
      </p>
    </header>

    <!-- Education goes here -->
    <section>
      <h2>Education</h2>

      <div class="resume-entry">
        <div class="resume-title">
          <h3>New York University</h3>
          <span class="date">May 2026</span>
        </div>

        <em>M.A. in Historical and Sustainable Architecture</em>

        <p>
          9-month intensive based in London and Paris focusing on the theory and
          practice of historical conservation, sustainable urban solutions, and
          adaptive reuse.
        </p>

        <ul>
          <li>
            <strong>Thesis:</strong> "Beyond Boundaries: Utilizing Space Syntax to
            Reconsider Conservation Area Appraisals and Policy in Suburban London"
          </li>

          <ul>
            <li>
              Applied GIS-based spatial analysis to evaluate conservation area
              boundaries against patterns of urban activity.
            </li>
          </ul>

          <li><strong>Relevant Project Work</strong></li>

          <ul>
            <li>
              Wrote heritage impact statements and architectural heritage
              documents
            </li>
            <li>Prepared project financial planning reports</li>
            <li>Completed structural assessments</li>
            <li>Planned adaptive reuse schemes</li>
            <li>Evaluated conservation policy</li>
            <li>Created maps and spatial analysis visualizations</li>
          </ul>
        </ul>
      </div>

      <div class="resume-entry">
        <div class="resume-title">
          <h3>Princeton University</h3>
        </div>

        <em>B.A. in Sociology &amp; Minor in Information Technology Policy</em>

        <p><strong>Magna Cum Laude</strong></p>

        <ul>
          <li>
            <strong>Thesis:</strong> "I-Robot to We-Robot: Exploring the Effects of
            Team Structure on Team Dynamics, Decision Making, and Performance, when
            Working with a Remote Robot"
          </li>
        </ul>
      </div>
    </section>

    <!-- Skills goes here -->
    <section>
      <h2>Skills &amp; Interests</h2>

      <div class="resume-entry">
        <h3>Skills</h3>

        <p>
          Historical research, ethnographic research, heritage and impact
          assessment, architectural history, historical mapping, content
          production, academic writing, project management, stakeholder
          communication, data analysis, presentations.
        </p>
      </div>

      <div class="resume-entry">
        <h3>Technical</h3>

        <p>
          Google Workspace, Microsoft Office, SQL, HTML/CSS, QGIS, ArcGIS, Rhino
          8
        </p>
      </div>

      <div class="resume-entry">
        <h3>Interests</h3>

        <p>
          Old buildings, new buildings, cycling, hiking, volcanoes, adaptive
          reuse, cold plunges, my dog, a very good apple, bar trivia.
        </p>
      </div>
    </section>
    <!-- Experience goes here -->
    <section>
      <h2>Professional Experience</h2>

      <div class="resume-entry">
        <div class="resume-title">
          <h3>Senior Marketing Professional</h3>
          <span class="date">2015–2025</span>
        </div>

        <ul>
          <li>
            Leveraged core research skills to create, present, and execute
            strategic deliverables for clients across multiple industries,
            provided white-glove consulting services, and built and managed
            cross-functional teams.
          </li>
        </ul>

        <div class="experience-grid">
          <div>SEO Consultant, <strong>Botify</strong></div>
          <div>Senior SEO Manager, <strong>Polygence</strong></div>

          <div>Senior Manager of SEO, <strong>BARK Inc.</strong></div>
          <div>
            SEO Manager, <strong
              >Merriam-Webster &amp; Encyclopaedia Britannica</strong
            >
          </div>

          <div>
            Content Strategist &amp; SEO Analyst, <strong>Investopedia</strong>
          </div>
          <div>Digital Analyst, <strong>Resolute Digital</strong></div>
        </div>
      </div>
    </section>
  </div>
</Layout>
